@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@300&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(67, 3, 3, 0.837);
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 8%;
  font-family: "ABeeZee", serif;
}
main {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 15px;
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
small {
  color: rgb(98, 98, 98);
}
input {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 2px;
  width: 70%;
  height: 25px;
  font-family: "ABeeZee", serif;
}
input[type="submit"] {
  cursor: pointer;
  width: 40%;
  height: 30px;
  border-radius: 30px;
  color: white;
  background-color: black;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.37);
  font-weight: bold;
}
footer img {
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.37);
}
@media (max-width: 900px) {
  main {
    margin-top: 30%;
    width: 80vw;
  }
}
